{% extends 'layout/base.html' %}

{% block title %}
    Pistas
{% endblock %}

{% block navbar_brand %}
    SportBooking
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">Pistas disponibles</h1>
  {% if courts %}
  <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for court in courts %}
    <div class="col mb-4">
      <div class="card h-100 shadow-sm">
        <div class="card-body">
          {% load static %}
          {% if court.type == 'football' %}
            <img src="{% static 'img/court-football.jpg' %}" class="card-img-top mb-2" alt="Pista de fútbol" style="height: 200px; object-fit: cover;">
          {% elif court.type == 'tennis' %}
            <img src="{% static 'img/court-tennis.jpg' %}" class="card-img-top mb-2" alt="Pista de tenis" style="height: 200px; object-fit: cover;">
          {% elif court.type == 'padel' %}
            <img src="{% static 'img/court-padel.jpg' %}" class="card-img-top mb-2" alt="Pista de pádel" style="height: 200px; object-fit: cover;">
          {% elif court.type == 'basket' %}
          <img src="{% static 'img/court-basket.jpg' %}" class="card-img-top mb-2" alt="Pista de baloncesto" style="height: 200px; object-fit: cover;">
          {% elif court.type == 'racquetball' %}
          <img src="{% static 'img/court-racquetball.jpg' %}" class="card-img-top mb-2" alt="Pista de frontenis" style="height: 200px; object-fit: cover;">
          {% elif court.type == 'waterpool' %}
          <img src="{% static 'img/court-waterpool.jpg' %}" class="card-img-top mb-2" alt="Pista de frontenis" style="height: 200px; object-fit: cover;">
          {% else %}
            <img src="{% static 'img/hero-tennis-court.jpg' %}" class="card-img-top mb-2" alt="Pista" style="height: 200px; object-fit: cover;">
          {% endif %}
          <h5 class="card-title">{{ court.name }}</h5>
          <p class="card-text text-muted">
            Tipo: {{ court.get_type_display }}
          </p>
          <a href="{% url 'reservas:pista' court.pk %}" class="btn btn-primary w-100">Ver detalles</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% else %}
  <div class="container">
    <h4>No existe ninguna pista.</h4>
  </div>
  {% endif %}
</div>

{% endblock %}
