{% extends 'layout/base.html' %}
{% block title %}{{court.name}} - Información{% endblock %}

{% block navbar_brand %}
    SportBooking
{% endblock %}

{% block content %}
<div class="container mt-5">
  <h1 class="mb-4">{{ court.name }}</h1>
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h4>Tipo: <span class="badge bg-primary text-white">{{ court.get_type_display }}</span></h4>
    <h4>Ubicación: <span class="badge bg-secondary text-white">{{ court.location }}</span></h4>
  </div>
  <div class="card">
        <div class="card-body">
          <h5 class="card-title">Reservas</h5>
          {% if reservations %}
          <ul class="list-group">
            {% for reservation in reservations %}
            <li class="list-group-item">
              <strong>Usuario:</strong> {{ reservation.user.username }}<br>
              <strong>Inicio:</strong> {{ reservation.start_time }}<br>
              <strong>Fin:</strong> {{ reservation.end_time }}
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <p class="card-text">Aún no hay reservas para esta pista.</p>
          {% endif %}
        </div>
      </div>
</div>
{% endblock %}
