{% extends 'layout/base.html' %}

{% block title %}
    Confirmar Eliminación de Horario
{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="card-title">¿Estás seguro de que quieres eliminar este horario?</h3>
                <p class="card-text">{{ schedule.get_day_of_week_display }} - {{ schedule.start_time|time:"H:i" }} a {{ schedule.end_time|time:"H:i" }} | {{ schedule.court.name }}</p>
                <p class="card-text">
                    <span class="badge bg-warning text-dark">Esta acción no se puede deshacer.</span>
                </p>

                <form method="post" class="mt-3">
        {% csrf_token %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <button type="submit" class="btn btn-danger mr-2">Confirmar Eliminación</button>
            <a href="{% url 'reservas:pistas' %}" class="btn btn-secondary">Cancelar</a>
    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}