{% extends 'layout/base.html' %}
{% block title %}Registro{% endblock %}

{% block navbar_brand %}
    SportBooking
{% endblock %}

{% block content %}
<div class="container" style="max-width: 500px;">
  <h2>Registro</h2>
  <form method="post">
    {% csrf_token %}
    {% if form.errors %}
      <div class="alert alert-danger">
        Por favor, corrige los siguientes errores.
      </div>
    {% endif %}
    {% for field in form %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">{{ field.label }}{% if field.field.required %}*{% endif %}</label>
        {{ field }}
        {% if field.errors %}
          <div class="alert alert-danger">
            {% for error in field.errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}
        {% if field.help_text %}
          <small class="form-text text-muted">{{ field.help_text }}</small>
        {% endif %}
      </div>
    {% endfor %}
    <button type="submit" class="btn btn-primary">Registrarse</button>
  </form>
  <p class="mt-2">¿Ya estás registrado? <a href="{% url 'login' %}">Inicia sesión</a></p>
</div>
{% endblock %}
